<main class="container">
  <%= link_to sanitize("&larr; Back to Quote"), quote_path(@quote) %>

  <div class="header">
    <h1>New Date</h1>
  </div>

  <%= render "form", quote: @quote, line_item_date: @line_item_date %>
</main>